[submodule "backend"]
	path = agarwood.cloud.backend.subscriber
	url = git@github.com:agarwood-cloud/agarwood.cloud.backend.subscriber.git
[submodule "oauth"]
	path = agarwood.cloud.oauth.provider
	url = git@github.com:agarwood-cloud/agarwood.cloud.oauth.provider.git
